In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json

In [10]:
response_API = requests.get('https://data.cityofnewyork.us/resource/8h9b-rp9u.json')
data = response_API.text

In [11]:
#print(response_API.status_code)
print(response_API.status_code)
data = json.loads(data)

200

In [12]:
df = pd.json_normalize(data)

In [18]:
df.shape

(1000, 25)

In [19]:
df.head()

,arrest_key,arrest_date,pd_cd,law_code,law_cat_cd,arrest_boro,arrest_precinct,jurisdiction_code,age_group,perp_sex,...,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih,lon_lat.type,lon_lat.coordinates,pd_desc,ky_cd,ofns_desc
0,236791704,2021-11-22T00:00:00.000,581,PL 2225001,M,M,28,0,45-64,M,...,12423,18,4,36,18,Point,"[-73.95240854099995, 40.799008797000056]",NaN,NaN,NaN
1,237354740,2021-12-04T00:00:00.000,153,PL 1302502,F,B,41,0,25-44,M,...,10937,8,5,43,24,Point,"[-73.89529641399997, 40.816391847000034]",RAPE 3,104,RAPE
2,236081433,2021-11-09T00:00:00.000,681,PL 2601001,M,Q,113,0,25-44,M,...,24669,41,3,46,71,Point,"[-73.77604736799998, 40.67970040800003]","CHILD, ENDANGERING WELFARE",233,SEX CRIMES
3,32311380,2007-06-18T00:00:00.000,511.0,PL 2200300,M,Q,27,1.0,18-24,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CONTROLLED SUBSTANCE, POSSESSION 7",235.0,DANGEROUS DRUGS
4,192799737,2019-01-26T00:00:00.000,177,PL 1306503,F,M,25,0,45-64,M,...,13093,7,4,36,16,Point,"[-73.94110928599997, 40.800694331000045]",SEXUAL ABUSE,116,SEX CRIMES

In [20]:
df.dtypes

arrest_key                     object
arrest_date                    object
pd_cd                          object
law_code                       object
law_cat_cd                     object
arrest_boro                    object
arrest_precinct                object
jurisdiction_code              object
age_group                      object
perp_sex                       object
perp_race                      object
x_coord_cd                     object
y_coord_cd                     object
latitude                       object
longitude                      object
:@computed_region_efsh_h5xi    object
:@computed_region_f5dn_yrer    object
:@computed_region_yeji_bk3q    object
:@computed_region_92fq_4b7q    object
:@computed_region_sbqj_enih    object
lon_lat.type                   object
lon_lat.coordinates            object
pd_desc                        object
ky_cd                          object
ofns_desc                      object
dtype: object

In [21]:
df['arrest_date'] = pd.to_datetime(df['arrest_date'])

In [31]:
df['arrest_date'].min()

Timestamp('2006-01-26 00:00:00')

In [32]:
df['arrest_date'].max()

Timestamp('2021-12-30 00:00:00')